@media (max-width: 960px) {
  .container {
    padding: 0 16px;
  }
  .fab, .fas {
    font-size: 24px;
  }
}

@media (min-width: 959px) {
  .container {
    padding-left: 62.1vw;
    padding-right: 16px;
  }
}