@media (max-width: 960px) {
  .container {
    padding: 0 16px;
    height: 180vh;
  }
  .fab, .fas {
    font-size: 24px;
  }
  .introduction {
    display: block;
  }
  .product_img {
    width: 100%;
  }
  .product_img iframe {
    width: 100%;
  }
  img.Google {
    width: 209px;
  }
}

@media (min-width: 959px) {
  .container {
    padding: 0 16px;
  }
  .name {
    margin-left: 8px;
  }
  .tab_area {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .product_img {
    height: 60vh;
    margin-left: auto;
  }
  .product {
    display: flex;
  }
  .explain {
    height: 100%;
    margin: auto auto auto 16px;
  }

  .tab_area label {
    font-size: 24px;
  }
  .tab_area2 label {
    font-size: 24px;
  }
}