.p-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50vh;
  
  img {
    width: 160px;
    height: 160px;
  }
  ul {
    list-style: none;
    margin: auto 24px;
  }
}